<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="color: #FFF">About</h2>
        <br>
      </div>
    </div>
    <div class="row">
      <div style="color: #FFF" class="col-lg-4 col-lg-offset-2">
        <p>Panni is a Hungarian fashion designer living in Belgium.</p>
      </div>
      <div style="color: #FFF" class="col-lg-4 col-lg-offset-2">
        <p>Panni has experience in tailoring for female and male fashion, and a sweet spot for making kids clothes.</p>
      </div>
    </div>
  </div>
</section>
