<!-- Portfolio Grid Section -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <br>
        <h1 style="color: #FFF">Panni Eszes</h1>
        <br>
        <i style="color: #FFF">panni@panka.be</i>
        <p><br></p>
        <p style="color: #FFF">dressmaking</p>
        <p style="color: #FFF">tailoring</p>
        <p style="color: #FFF">upcycling</p>
        <p style="color: #FFF">fashion design</p>
        <p style="color: #FFF">embroidery</p>
      </div>
    </div>
  </div>
</section>
